a {
  color: #E6AE31;
  border-bottom: 1px solid #E7E7E7;
  padding-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.25s;
}

a:hover {
  color: #E6AE31;
  border-bottom: 1px solid #E6AE31;
  padding-bottom: 10px;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  cursor: pointer;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  background-color: white;
  border: 1px solid #DAD7E2;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(155, 151, 179, 0.25);
  display: inline;
  max-width: 300px;
  min-width: 300px;
  padding: 30px 40px;
  transition: 0.2s;
}

button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.14);
  transform: scale(1.05);
}

button:active {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.07);
  transform: scale(1.03);
}
